# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/
env/

# Streamlit specific
.streamlit/

# Dependency directories
pip-wheel-metadata/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE/editor files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log

.env.env
.env
